html, body {
  height: 98%;
  max-width: 98%;
  /* --color-background: rgb(235, 238, 240);
  --chat-footer-form-input: white; */
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.app_body {
  display: flex;
  background: var(--color-background);
  /* background-image: var(--image-background); */
  /* margin-top: -50px; */
  height: 100vh;
  width: 100vw;
  
  /* box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75); */
}

.theme-default {
  /* 
    To make your own theme copy these values into a new theme class
    follow our convention of .theme-your_Initials
    simply change the values afterwards
      -Greg and Karim
  */
  --color-background: rgb(235, 238, 240);

  /* This can be used to easily changethe color of all
     the icons at once. If you want to change the icon
     colors indivually then replace where this is assigned
     to the desired color that you want */
  --icon-colors: gray;

  /* borders are in multiple components: chat and sidebar */
  --border-colors: solid lightgray;
  
  --sidebar-search-container: white;
  --sidebar-search-container-field: white;
  --sidebar-search-icon: var(--icon-colors);
  --sidebar-search-container-input: black;
  --sidebar-add-icon: var(--icon-colors);

  --contact-hover-color: #ebebeb;
  --contact-border-bottom: solid #f6f6f6;
  --contact-text-color: black;

  --chat-header-info-color: black;
  --chat-header-search-outlined: var(--icon-colors);
  --chat-header-palete-icon: var(--icon-colors);
  --chat-header-exit-to-app: var(--icon-colors);

  --chat-message-color: black;
  --chat-message-background-color: white;
  --chat-message-name-color: black;
  
  --chat-receiver-text-color: white;
  --chat-receiver-background-color: #147efb;

  --chat-footer-form-input: white;
  --chat-footer-input-field: black;
  --chat-footer-insert-emoji-icon: var(--icon-colors);
  --chat-footer-attach-file: var(--icon-colors);
  --chat-footer-send-icon: var(--icon-colors);
}

.theme-gc {
  --color-background: rgb(34, 34, 38);

  --icon-colors: lightgray;
  

  /* borders are in multiple components: chat and sidebar */
  --border-colors: solid rgb(59, 60, 62);
  
  --sidebar-search-container: rgb(59, 60, 62);
  --sidebar-search-container-field: rgb(59, 60, 62);
  --sidebar-search-icon: var(--icon-colors);
  --sidebar-search-container-input: white;
  --sidebar-add-icon: var(--icon-colors);

  --contact-hover-color: rgb(59, 60, 62);
  --contact-border-bottom: solid rgb(59, 60, 62);
  --contact-text-color: white;

  --chat-header-info-color: white;

  --chat-header-search-outlined: var(--icon-colors);
  --chat-header-palete-icon: var(--icon-colors);
  --chat-header-exit-to-app: var(--icon-colors);

  --chat-message-color: white;
  --chat-message-background-color: rgb(59, 60, 62);
  --chat-message-name-color: white;

  --chat-receiver-text-color: white;
  --chat-receiver-background-color: #147efb;

  --chat-footer-form-input: rgb(59, 60, 62);
  --chat-footer-input-field: white;
  --chat-footer-insert-emoji-icon: yellow;
  --chat-footer-attach-file: var(--icon-colors);
  --chat-footer-send-icon: #147efb;
}

.theme-ks {
  --color-background: #0e193a;

  --icon-colors: white;
  
  --chat-footer-form-input: #545b89;

  /* borders are in multiple components: chat and sidebar */
  /* --border-colors: solid#545b89; */
  
  --sidebar-search-container: #545b89;
  --sidebar-search-container-field: #545b89;
  --sidebar-search-icon: var(--icon-colors);
  --sidebar-search-container-input: white;
  --sidebar-add-icon: var(--icon-colors);

  --contact-hover-color: #545b89;
  --contact-border-bottom: solid #0e193a;
  --contact-text-color: white;

  --chat-header-info-color: white;

  --chat-header-search-outlined: var(--icon-colors);
  --chat-header-palete-icon: var(--icon-colors);
  --chat-header-exit-to-app: var(--icon-colors);

  --chat-message-color: white;
  --chat-message-background-color: #545b89;
  --chat-message-name-color: white;

  --chat-receiver-text-color: white;
  --chat-receiver-background-color: #545b89;

  --chat-footer-input-field: white;
  --chat-footer-insert-emoji-icon: var(--icon-colors);
  --chat-footer-attach-file: var(--icon-colors);
  --chat-footer-send-icon: var(--icon-colors);
}

.theme-mx {
  /* --color-background: rgb(251,255,181); */
  --color-background: linear-gradient(#ffebf5, #eeebf5, #ddebf5, #ccebf5, #bbebf5);	
  --icon-colors:#C4BFDB;
  --border-colors: black;

  --sidebar-search-container: white;
  --sidebar-search-container-field: white;
  --sidebar-search-icon: var(--icon-colors);
  --sidebar-search-container-input: black;
  --sidebar-add-icon: var(--icon-colors);

  --contact-hover-color: #ebebeb;
  --contact-border-bottom: solid #f6f6f6;
  --contact-text-color: black;

  --chat-header-info-color: black;
  --chat-header-search-outlined: var(--icon-colors);
  --chat-header-palete-icon: var(--icon-colors);
  --chat-header-exit-to-app: var(--icon-colors);

  --chat-message-color: black;
  --chat-message-background-color: #FAF9F6;
  --chat-message-name-color: #796d6e;
  
  --chat-receiver-text-color: white;
  --chat-receiver-background-color: rgba(1,1,1,0.1);;

  --chat-footer-form-input: white;
  --chat-footer-input-field: black;
  --chat-footer-insert-emoji-icon: var(--icon-colors);
  --chat-footer-attach-file: var(--icon-colors);
  --chat-footer-send-icon: var(--icon-colors);

}

.theme-rf {
  --color-background: #fad9d9;
  --icon-colors: #617eff;
  /* --border-colors: solid #d8bbff; */
  
  --sidebar-search-container-field: #ffa3a8;
  --sidebar-search-icon: var(--icon-colors);
  --sidebar-search-container-input: #2e2e2e;
  --sidebar-add-icon: var(--icon-colors);

  --contact-hover-color:#d8bbff;
  /* --contact-border-bottom: solid #d8bbff; */
  --contact-text-color: #2e2e2e;

  --chat-header-info-color: #2e2e2e;
  --chat-header-search-outlined: var(--icon-colors);
  --chat-header-palete-icon: var(--icon-colors);
  --chat-header-exit-to-app: var(--icon-colors);

  --chat-message-color: #2e2e2e;
  --chat-message-background-color:#b0ffe2;
  --chat-message-name-color: #2e2e2e;

  --chat-receiver-text-color: (83, 132, 231);
  --chat-receiver-background-color:   #c4cff8;

  --chat-footer-form-input:  #ffa3a8;
  --chat-footer-input-field:  #2e2e2e;
  --chat-footer-insert-emoji-icon: #4063ff;
  --chat-footer-attach-file:  #4063ff;
  --chat-footer-send-icon: #4063ff;
}

.theme-tc {
  --color-background: linear-gradient(#56a084, #8fdfcb, #aef7e1, #d9faf4);
  --icon-colors: #000000;
  --border-colors: solid #000000;
  
  --sidebar-search-container-field:  #ffffff;
  --sidebar-search-icon: var(--icon-colors);
  --sidebar-search-container-input: #2e2e2e;
  --sidebar-add-icon: var(--icon-colors);

  --contact-hover-color: #6fb0ce;
  --contact-border-bottom: solid #000000;
  --contact-text-color: #2e2e2e;

  --chat-header-info-color: #2e2e2e;
  --chat-header-search-outlined: var(--icon-colors);
  --chat-header-palete-icon: var(--icon-colors);
  --chat-header-exit-to-app: var(--icon-colors);

  --chat-message-color: #000000;
  --chat-message-background-color:#b0ffe2;
  --chat-message-name-color: #2e2e2e;

  --chat-receiver-text-color: (0, 0, 0);
  --chat-receiver-background-color:   #50bba0;

  --chat-footer-form-input:  #ffffff;
  --chat-footer-input-field:  #000000;
  --chat-footer-insert-emoji-icon: #428169;
  --chat-footer-attach-file:  #428169;
  --chat-footer-send-icon: #428169;
}

.theme-ks2 {
  --color-background:linear-gradient(#d3ba4c, #190a05);;

  --icon-colors: white;
  
  --chat-footer-form-input: ;

  /* borders are in multiple components: chat and sidebar */
  /* --border-colors: solid#545b89; */
  
  --sidebar-search-container: #d3ba4c;
  --sidebar-search-container-field: #d3ba4c;
  --sidebar-search-icon: var(--icon-colors);
  --sidebar-search-container-input: white;
  --sidebar-add-icon: var(--icon-colors);

  --contact-hover-color: #d3ba4c;
  --contact-border-bottom: solid #d3ba4c;
  --contact-text-color: white;

  --chat-header-info-color: white;

  --chat-header-search-outlined: var(--icon-colors);
  --chat-header-palete-icon: var(--icon-colors);
  --chat-header-exit-to-app: var(--icon-colors);

  --chat-message-color: white;
  --chat-message-background-color: #d3ba4c;
  --chat-message-name-color: white;

  --chat-receiver-text-color: white;
  --chat-receiver-background-color: #d3ba4c;

  --chat-footer-input-field: white;
  --chat-footer-insert-emoji-icon: var(--icon-colors);
  --chat-footer-attach-file: var(--icon-colors);
  --chat-footer-send-icon: var(--icon-colors);

}