html, body {
  height: 98%;
  max-width: 98%;
  /* --color-background: rgb(235, 238, 240);
  --chat-footer-form-input: white; */
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.app_body {
  display: flex;
  background-color: var(--color-background);
  /* margin-top: -50px; */
  height: 100vh;
  width: 100vw;
  
  /* box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75); */
}

.theme-default {
  /* 
    To make your own theme copy these values into a new theme class
    follow our convention of .theme-your_Initials
    simply change the values afterwards
      -Greg and Karim
  */
  --color-background: rgb(235, 238, 240);

  /* This can be used to easily changethe color of all
     the icons at once. If you want to change the icon
     colors indivually then replace where this is assigned
     to the desired color that you want */
  --icon-colors: gray;
  
  --chat-footer-form-input: white;

  /* borders are in multiple components: chat and sidebar */
  --border-colors: solid lightgray;
  
  --sidebar-search-container: white;
  --sidebar-search-container-field: white;
  --sidebar-search-icon: var(--icon-colors);
  --sidebar-search-container-input: black;
  --sidebar-add-icon: var(--icon-colors);

  --contact-hover-color: #ebebeb;
  --contact-border-bottom: solid #f6f6f6;
  --contact-text-color: black;

  --chat-header-info-color: black;

  --chat-header-search-outlined: var(--icon-colors);
  --chat-header-palete-icon: var(--icon-colors);
  --chat-header-exit-to-app: var(--icon-colors);

  --chat-message-color: black;
  --chat-message-background-color: white;
  --chat-message-name-color: black;
  
  --chat-receiver-text-color: white;
  --chat-receiver-background-color: #147efb;

  --chat-footer-input-field: black;
  --chat-footer-insert-emoji-icon: var(--icon-colors);
  --chat-footer-attach-file: var(--icon-colors);
  --chat-footer-send-icon: var(--icon-colors);



}

.theme-gc {
  --color-background: rgb(34, 34, 38);

  --icon-colors: lightgray;
  
  --chat-footer-form-input: rgb(59, 60, 62);

  /* borders are in multiple components: chat and sidebar */
  --border-colors: solid rgb(59, 60, 62);
  
  --sidebar-search-container: rgb(59, 60, 62);
  --sidebar-search-container-field: rgb(59, 60, 62);
  --sidebar-search-icon: var(--icon-colors);
  --sidebar-search-container-input: white;
  --sidebar-add-icon: var(--icon-colors);

  --contact-hover-color: rgb(59, 60, 62);
  --contact-border-bottom: solid rgb(59, 60, 62);
  --contact-text-color: white;

  --chat-header-info-color: white;

  --chat-header-search-outlined: var(--icon-colors);
  --chat-header-palete-icon: var(--icon-colors);
  --chat-header-exit-to-app: var(--icon-colors);

  --chat-message-color: white;
  --chat-message-background-color: rgb(59, 60, 62);
  --chat-message-name-color: white;

  --chat-receiver-text-color: white;
  --chat-receiver-background-color: #147efb;

  --chat-footer-input-field: white;
  --chat-footer-insert-emoji-icon: yellow;
  --chat-footer-attach-file: var(--icon-colors);
  --chat-footer-send-icon: #147efb;
}

.theme-ks {
  --color-background: rgba(2, 19, 29, 0.849);
  
  --chat-footer-form-input: white;

  /* borders are in multiple components: chat and sidebar */
  --border-colors: solid lightgray;
  
  --sidebar-search-container: white;
  --sidebar-search-icon: gray;

  --contact-hover-color: #ebebeb;
  --contact-border-bottom: solid #f6f6f6;

  --chat-header-info-color: black;
  --chat-message-color: white;
  --chat-receiver-text-color: white;
  --chat-receiver-background-color: #147efb;
  --chat-footer-form-icon: red;
}

.theme-mx {
  
}

.theme-rf {
  --color-background: #afbefc ;

  --icon-colors: #ffc7a3;
  
  --chat-footer-form-input: rgb(59, 60, 62);

  /* borders are in multiple components: chat and sidebar */
  --border-colors: solid #aaaaaa;
  
  /* --sidebar-search-container: ; */
  --sidebar-search-container-field:  #d8bbff;
  --sidebar-search-icon: var(--icon-colors);
  --sidebar-search-container-input: #2e2e2e;
  --sidebar-add-icon: var(--icon-colors);

  --contact-hover-color: #ced8fd;
  --contact-border-bottom: var(--border-colors);
  --contact-text-color: #2e2e2e;

  --chat-header-info-color: #2e2e2e;
  --chat-header-search-outlined: var(--icon-colors);
  --chat-header-palete-icon: var(--icon-colors);
  --chat-header-exit-to-app: var(--icon-colors);

  --chat-message-color: #2e2e2e;
  --chat-message-background-color:#b0ffe2;
  --chat-message-name-color: #2e2e2e;

  --chat-receiver-text-color: (83, 132, 231);
  --chat-receiver-background-color:  #fad6d6;

  --chat-footer-input-field: white;
  --chat-footer-insert-emoji-icon: #4063ff;
  --chat-footer-attach-file:  #fad6d6;
  --chat-footer-send-icon: #fad6d6;
}

.theme-tc {
  
}