.contact {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px var(--contact-border-bottom);
}

/* highlights chat room color when cursor hovers over component */
.contact:hover {
    background-color: var(--contact-hover-color);
}

.contact__info > h2 {
    font-size: 16px;
    color: var(--contact-text-color);
    margin-bottom: 8px;
}

.contact__info {
    margin-left: 15px;
}