.contact {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

/* highlights chat room color when cursor hovers over component */
.contact:hover {
    background-color: #ebebeb;
}

.contact__info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.contact__info {
    margin-left: 15px;
}