html,body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1.0fr 0.7fr 1.3fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-rows: 1fr;
    gap: 0px 13px;
    height: calc(100vh - 10px);
    place-self: center;

}

/* .grid * {
    border: 1px solid red;
  } */

.LoginBox {
    grid-row: 1;
    grid-column: 3;
    /* position: relative;
    margin-top: 40%; */
    /* position: relative;
    margin-top: 50%;
    margin-left: 85%;
    left: 75%;
    /* margin-left: -3px;
    top: 30%;
    width: 50%; */ 

    /* border: 2px solid pink; */
    font-family: "Verdana", "sans-serif";
    color: black;
    background-color: rgb(255, 255, 255);
  }

.VerticalBlackLine {
    grid-row: 1;
    grid-column: 2;
    border-left: 2px solid rgb(0, 0, 0);
    height: 350px;

    /* position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 30%; */
}

.Logo {
    grid-row: 1;
    grid-column: 1;
    /* background-image: url(../images/tucanOnEgg.png); */
    /* position: relative;
    padding-top: 50%;
    padding-left: 35%; */

}

.buttons {
    background-color: rgb(236, 220, 220);
    border: solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 1px 1px;
}

.input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(53, 43, 43);
  }


.box1 {
    place-self: center;
}

.box2 {
    place-self: center;
}

.box3 {
    align-self: center;
    justify-items: start stretch;
}