.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    background-color: rgb(235, 238, 240);
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 3px solid lightgray;
    border-right: 3px solid lightgray;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

/* For icons inside header div */
.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__search {
    padding-top: 7px;
    display: flex;
    align-items: center;
    /* background-color: #f6f6f6; */
    height: 39px;
    /* border-radius: 20px; */
    border-right: 3px solid lightgray;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 97%;
    height: 35px;
    border-radius: 20px;
    margin-left: 5px;
    
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}

.sidebar__searchContainer > form {
    flex: 1;
    display: flex;
}

.sidebar__searchContainer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.sidebar__chats {
    flex: 1;
    /* background-color: white; */
    border-right: 3px solid lightgray;
    overflow-y: auto;
}